<!DOCTYPE html>
{% autoescape true %}
<html>
	<body>
        <div>{{author}} Logged In</div>
        <div>Blog Categories:<br>
            <form>
            {% for blog in blogList %}
                <input type="submit" value="{{blog}}" formmethod="post" formaction="/blog?author={{ author }}&blog={{blog}}">
            {% endfor %}
            </form>
        </div>
        <div>Your Tags <br>
            <form >
            {% for tag in tagList %}
                <input type="submit" value="{{tag}}" formmethod="post" formaction="/tag?author={{ author }}&tag={{tag}}">
            {% endfor %}
            </form>
        </div>
        <div>
            <a href="/new_blog?author={{author}}">Add a new blog</a>
            <a href="/new_post?author={{author}}">Add a new post</a>
        </div>
        {% for post in postList %}
        <p>
            <div><font size="2">{{post.blogName}}</font></div>
            <div>Tagged in:
                <form>
            {% for tag in post.tag %}
                    <input type="submit" value="{{tag}}" formmethod="post" formaction="/tag?author={{ author }}&tag={{tag}}">
            {% endfor %}
                </form>
            </div>
            <div>{{post.title}}</div>
            <div>Viewed {{post.viewCount}} times</div>
            <div><img src="img?img_id={{post.author}}">Created by: {{post.author}} on {{post.creation}}</div>
            <div>{{content}}</div>
        </p>
        {% endfor %}
    <p><a href="{{ url|safe }}">{{ url_linktext }}</a></p>
    <p><a href="/">Home</a></p>
    <p><a href="/user?author={{author}}">MyWire</a></p>
    </body>
</html>
{% endautoescape %}