<!DOCTYPE html>
{% autoescape true %}
<html>
	<body>
        <div>People are writing about: <br>
            <form >
            {% for tag in tagList %}
                <input type="submit" value="{{tag}}" formmethod="post" formaction="/tag?author={{ author }}&tag={{tag}}">
            {% endfor %}
            </form>
        </div>
        <div>
            <a href="{{ url|safe }}">Login</a> to start Writing!
        </div>
        {% for post in postList %}
        <p>
            <div><font size="2">{{post.blogName}}</font></div>
            <div>Tagged in:
                <form>
            {% for tag in post.tag %}
                    <input type="submit" value="{{tag}}" formmethod="post" formaction="/tag?author={{ author }}&tag={{tag}}">
            {% endfor %}
                </form>
            </div>
            <div>{{post.title}}</div>
            <div>Viewed {{post.viewCount}} times</div>
            <div><img src="img?img_id={{post.author}}">Created by: {{post.author}} on {{post.creation}}</div>
            <div>Last modified on {{post.date}}, at {{post.time}}.</div>
            <div>{{content}}</div>
        </p>
    {% endfor %}
    <p><a href="/">Home</a></p>
    </body>
</html>
{% endautoescape %}