<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/style/mainpage.css"/>
    </head>
	<body>
        <div><img src="Images/wordwire_logo.png" width="160"></div><div><h1 class="heading">Welcome to WordWire!</h1></div>
        <hr>
        <ul class="nav_bar">
            <li><a href="{{ url|safe }}">{{url_linktext}}</a></li>
        {% if not guest %}
            <li><a href="{{ mypage }}">MyWire</a></li>
        {% endif %}
        <li><a href="/">Home</a></li>
        </ul>
        <hr>
        <div class="tag-category">People are writing about: </div>
        <div>
            <form >
            {% for tag in tagList %}
                <input class="user-tag" type="submit" value="{{tag}}" formmethod="post" formaction="/tag?tag={{tag}}">
            {% endfor %}
            </form>
        </div>
        <div>
            <br>
            <p>
            <form class="search" action="/search" method="post" >
                <input type="text" name="query"><input type="submit" value="Search">
            </form>
            </p>
        </div>
        {% for post in postList %}
        <div class="blogpost">
            <hr>
            <div class="blogname">{{post.blogName}}</div>
            <div>Tagged in:
                <form>
            {% for tag in post.tag %}
                    <input class="tags" type="submit" value="{{tag}}" formmethod="post" formaction="/tag?tag={{tag}}">
            {% endfor %}
                </form>
            </div>
            <div class="title">{{post.title}}</div><a class="permalink" href="/read_more?author={{post.author}}&uid={{post.uid}}">Permalink</a>
            <div class="viewcount">Views: {{post.viewCount}}</div>
            <div ><img class="creator" src="img?img_id={{post.author}}"><a class="post_author" href="/user?author={{post.author}}">{{post.author}}</a> | {{post.creation}} | Last modified on {{post.date}}, at {{post.time}}.</div>
            <div>{{post.content|truncate(500)}}<a href="/read_more?author={{post.author}}&uid={{post.uid}}">Read More</a></div>
        </div>
        {% endfor %}
{% endautoescape %}