<!DOCTYPE html>
{% autoescape true %}
<html><head>
        <link rel="stylesheet" type="text/css" href="/style/img_page.css"/>
    </head>
	<body>
        <div><img src="Images/wordwire_logo.png" width="160"></div>
        <h2 class="heading">Hey {{author}}</h2>
        <hr>
        <ul class="nav_bar">
            <li><a href="/user?author={{author}}">MyWire</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
        </ul>
        <hr>
        <h3 class="view">Here are your Images</h3>
        {% for img in images %}
        <div class="title">
            <div><img src="usr_img?img_id={{img.imgId}}"></div>
            <div class="content">Name: {{img.name}}</div>
            <div class="content">Ref Link: <a href="http://{{host}}/usr_img?img_id={{img.imgId}}">http://{{host}}/usr_img?img_id={{img.imgId}}</a></div>
        </div>
        {% endfor %}
    </body>
</html>
{% endautoescape %}