<!DOCTYPE html>
{% autoescape true %}
<html><head>
        <link rel="stylesheet" type="text/css" href="/style/new_post.css"/>
    </head>
	<body>
        <div><img src="Images/wordwire_logo.png" width="160"></div>
        <h2 class="heading">User: {{author}}</h2>
        <hr>
        <div>
        <ul class="nav_bar">
            <li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/user?author={{ author }}">MyWire</a></li>
        </ul>
            </div>
        <hr>
		<form  class="blogpost" action="/publish?author={{ author }}" method="post">
			<div class="title">Title<br><textarea name="title" rows="2" cols="150"></textarea></div>
            <div class="title">Blog Categories:<br><select name="topic">
                    {% for blog in blogList %}
                    <option value="{{blog}}">{{ blog }}</option>
                    {% endfor %}
                </select></div>
            <div class="title">Tags (Please Enter tags, separated by commas. Eg: Tech, Apple)<br><textarea name="tags" rows="2" cols="90"></textarea></div>
			<div class="title">Content<br><textarea name="content" rows="20" cols="150"></textarea></div>
			<div><input type="submit" value="Post it!"></div>
		</form>
	</body>
</html>
{% endautoescape %}
