<!DOCTYPE html>
{% autoescape true %}
<html>
	<body>
        <div>Welcome to WordWire!</div>
        <div>
            <a href="{{ url|safe }}">{{url_linktext}}</a>
            <br>
            <a href="/">Home</a>
        </div>
        <div>
            Here's what people are writing about {{ query_tag }}
        </div>
        {% for post in postList %}
        <p>
            <div><font size="2">{{post.blogName}}</font></div>
            <div>Tagged in:
                <form>
            {% for tag in post.tag %}
                    <input type="submit" value="{{tag}}" formmethod="post" formaction="/tag?tag={{tag}}">
            {% endfor %}
                </form>
            </div>
            <div>{{post.title}}</div>
            <div><img src="img?img_id={{post.author}}">Created by: <a href="/user?author={{post.author}}">{{post.author}}</a> on {{post.creation}}</div>
            <div>Last modified on {{post.date}}, at {{post.time}}.</div>
            <div>{{post.content|truncate(500)}}<a href="/read_more?author={{post.author}}&uid={{post.uid}}">Read More</a></div>
        </p>
        {% endfor %}
{% endautoescape %}