a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {
    background-color:rgba(250,75,42,1);
    color:#ffffff;
    border-radius:5px;
    padding:5px;
    text-decoration:none;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

ul.nav_bar
{
list-style-type:none;
margin:10px;
overflow:hidden;
}
li
{
float:left;
padding:10px;
}

body {
    background-color:rgba(231,231,226,1);
    /*background-image:url('/Images/main_gradient.png');*/
    background-repeat:repeat-x;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.heading {
    display:inline-block;
    margin:10px;
    background-color:rgba(250,75,42,1);
    color:#ffffff;
    border-radius:5px;
    padding:10px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida         Grande', sans-serif;
    font-weight:500;
}


.blog-category {
    display:inline-block;
    margin:10px;
    background-color:rgba(144,58,148,0.7);
    color:#ffffff;
    border-radius:5px;
    padding:10px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida         Grande', sans-serif;
    font-weight:200;
}
.blog-tag {
    margin-left:15px;
    margin-bottom:15px;
}

.tag-category {
    display:inline-block;
    margin:10px;
    background-color:rgba(144,58,148,0.7);
    color:#ffffff;
    border-radius:5px;
    padding:10px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida         Grande', sans-serif;
    font-weight:200;
}

.user-tag {
    margin-left:15px;
    margin-bottom:15px;
}

.search {
    position:relative;
    padding: 5px 0 0 0;
    vertical-align: top;
}

.title {
    font-family:adelle,georgia;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.blogpost {
    float: left;
    width:900px;
    padding:10px;
    margin:10px;
    text-align:justify;
    text-justify:inter-word;
}

.post_author {
    margin:10px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    font-weight:bold;
}

.creator {
    margin:10px;
    vertical-align:middle;
}

.comments {
    margin:20px;
    margin-bottom:10px;
}

.comment {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px;
}

.content {
    margin-left:20px;
}

.comment-content {
    margin-left:64px;
}

.comment-date {
    margin-left:64px;
    padding:5px;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida         Grande', sans-serif;
    font-size:12px;
    font-weight:bold;
    
}

.blogname {
    margin:10px;
    font-family:"Trebuchet MS", "Trebuchet MS", sans-serif;
    font-size:20px;
}

.tags {
    margin:5px;
}